<h3>Om PSI-datakollen</h3>
PSI-datakollen är en webbplats som används för att skanna och synliggöra i vilken grad offentliga organisationer uppfyller E-delegationens rekommendation att ha en sida som heter /psidata. Maskinell skanning av alla institutionerna sker återkommande och vid förändringar görs en manuell kontroll innan statusen ändras.

De offentliga organisationer som skannas är följande:
<ul>
	<li>Affärsverk</li>
	<li>AP-fonder</li>
	<li>Domstolar</li>
	<li>Förvaltningsmyndigheter</li>
	<li>Kommuner och regioner</li>
	<li>Landsting (inte inlagda än)</li>
	<li>Länsstyrelser</li>
	<li>Riksdagen</li>
	<li>Polismyndigheter</li>
</ul>
Om du upptäcker felaktigheter eller om vi missat att myndigheter tillkommit, lagts ner eller bytt namn, så meddela oss på <a href="mailto:info@oppnadata.se">info@oppnadata.se</a>

&nbsp;
<h3>Granskningen av myndigheters uppfyllnad av PSI-direktivet sker i två steg:</h3>
<ol>
	<li>Automatisk granskning av http-respons på http://www.myndighet.se/psidata. Om denna returnerar en HTTP-kod som motsvarar att sidan hittats skickas myndigheten till manuell granskning.</li>

	<li>Manuell granskning sker för att verifiera att organisationen uppfyller PSI-direktivet. Den manuella granskningen genomförs således både för att eliminera felaktiga serversvar samt kunna se att rekommendationen följs.</li>
</ol>
