<h3>Public Sector Information (PSI)</h3>
PSI kan översättas till ”offentliga data”. I PSI-direktivet används begreppet "handling" och då menas "allt innehåll, oberoende av medium (på papper eller lagrat i elektronisk form eller i form av ljudinspelningar, bildinspelningar eller audiovisuella inspelningar) och varje del av sådant innehåll".

Denna typ av data är inte nödvändigtvis fri att använda hursomhelst utan kan finnas tillgänglig mot betalning, med inskränkningar för vidareutnyttjande mm. (<a href="http://www.opengov.se/blogg/2011/oppen-data-definition/">källa</a>)
<h3>PSI-direktivet</h3>
PSI-direktivet från EU-kommissionen berör vidareutnyttjande av handlingar som finns hos offentliga myndigheter. I korthet kan man säga att det rör data som finns i offentlig sektor.

Direktivet syftar att göra offentlig information mer tillgänglig. Det innebär bland annat att olika aktörer i samhället ska kunna använda offentlig information för att skapa nya produkter och tjänster.

PSI-direktivet har gett upphov till den svenska så kallade PSI-lagen. Den formella beteckningen är ”lagen (2010:566) om vidareutnyttjande av handlingar från den offentliga förvaltningen”.

Lagen, som trädde i kraft 2010-07-01 avser att underlätta enskildas användning av handlingar som tillhandahålls av myndigheter och att förhindra att myndigheter beslutar om sådana villkor för hur handlingar får användas som begränsar konkurrensen.

För mer information se nedanstående länkar.
<ul>
	<li><a href="http://vidareutnyttjande.se/">Vägledning för offentliga organisationer</a></li>
	<li><a title="Om PSI-lagen i Wikipedia" href="http://sv.wikipedia.org/wiki/PSI-lagen" target="_blank">Om PSI-lagen i Wikipedia</a></li>
	<li><a title="Unionens digitala agenda" href="http://ec.europa.eu/digital-agenda/en/european-legislation-reuse-public-sector-information" target="_blank">Om PSI-direktivet på EU:s sida om unionens digitala agenda</a></li>
	<li><a title="Bättre förutsättningar för vidareutnyttjande" href="http://www.regeringen.se/sb/d/16938/a/207565" target="_blank">Bättre förutsättningar för vidareutnyttjande </a>(Socialdepartementet)</li>
</ul>
