.psirow .entryName {
    width: auto;
    padding-left: 1em;
}

.psirow .dcatAP {
    width: 100px;
    text-align: center;
}

.psirow .psiname {
    width: 100px;
    text-align: center;
}

.psirow td.dcatAP,
.psirow td.psiname {
    color: green;
}

.psirow .harvestDate {
    width: 130px;
    text-align: right;
    padding-right: 15px;
}